@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-barlow);
  font-size: 13px;
  line-height: 1.5;
  background-color: var(--neutral-grey-100);
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 1.5rem;
}

.container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  max-width: 1110px;
  margin: 0 auto;
}

.testimonial {
  padding: 1.5rem 2rem;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: var(--neutral-white);
}

/* Purple testimonial - Daniel */
.purple {
  background-color: var(--primary-purple-500);
  color: var(--neutral-white);
  grid-column: 1 / 3;
  grid-row: 1;
}

/* Grey testimonial - Jonathan */
.grey {
  background-color: var(--neutral-grey-500);
  color: var(--neutral-white);
  grid-column: 3;
  grid-row: 1;
}

/* White testimonial - Jeanette */
.white {
  background-color: var(--neutral-white);
  color: var(--neutral-grey-500);
  grid-column: 1;
  grid-row: 2;
}

/* Dark testimonial - Patrick */
.dark {
  background-color: var(--neutral-dark-blue);
  color: var(--neutral-white);
  grid-column: 2 / 4;
  grid-row: 2;
}

/* White long testimonial - Kira */
.white-long {
  background-color: var(--neutral-white);
  color: var(--neutral-grey-500);
  grid-column: 4;
  grid-row: 1 / 3;
}

.quotation-mark {
  position: absolute;
  top: 0;
  right: 80px;
  z-index: 1;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 2;
  margin-bottom: 1.2rem;
}

.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid var(--primary-purple-300);
}

.white .profile-img,
.white-long .profile-img {
  border-color: transparent;
}

.author-info h2 {
  font-size: 0.9rem;
  font-weight: 500;
}

.white .author-info h2,
.white-long .author-info h2 {
  color: var(--neutral-grey-500);
}

.author-info p {
  font-size: 0.8rem;
  opacity: 0.5;
}

.highlight {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  position: relative;
  z-index: 2;
}

.testimonial-text {
  opacity: 0.7;
  line-height: 1.6;
  position: relative;
  z-index: 2;
}

@media (max-width: 375px) {
  body {
    padding: 3rem 2rem; 
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 2rem;
  }

  .purple {
    grid-column: 1;
    grid-row: 1;
  }

  .grey {
    grid-column: 1;
    grid-row: 2;
  }

  .white {
    grid-column: 1;
    grid-row: 3;
  }

  .dark {
    grid-column: 1;
    grid-row: 4;
  }

  .white-long {
    grid-column: 1;
    grid-row: 5;
  }

  .quotation-mark {
    right: 1.5rem;
  }
}

