:root {

  /* Typography */
  --font-family-barlow: 'Barlow Semi Condensed', sans-serif;

  /* Colors */

  /* --  Primary -- */

  --primary-purple-50: hsl(260, 100%, 95%);
  --primary-purple-300: hsl(264, 82%, 80%);
  --primary-purple-500: hsl(263, 55%, 52%);

  /* --  Neutral -- */
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-grey-100: hsl(214, 17%, 92%);
  --neutral-grey-200: hsl(0, 0%, 81%);
  --neutral-grey-400: hsl(224, 10%, 45%);
  --neutral-grey-500: hsl(217, 19%, 35%);
  --neutral-dark-blue: hsl(219, 29%, 14%);
  --neutral-black: hsl(0, 0%, 7%);
  
  font-family: var(--font-family-barlow);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--neutral-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

